/* *{
    padding: 0;
    margin: 0;
}
header .logo{
    position: absolute;
    left: calc(50% - 40px);
    top: 16;
}
header{
    padding: 15px 0 0 0;
}
.container{
    margin: auto;
    max-width: 1064px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 28px;

}
header nav ul li a{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
color: #1C1B1B;
text-decoration: none;

}
header nav ul li:last-of-type{
    margin-right: 0;
}
.container_img{
    position: relative;
    right: -128px;
display: block;
width: 100%;
}
.main_banner{
    background: #F0EFEB;
    border-radius: 0px;
}
.h1_c{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .main_banner h1{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #000000;
margin-top: 90px;
margin-bottom: 42px;

}
.p_h1{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-bottom: 26px;
}

.button_shop_wrapper {
    display: inline-block;
    padding: 8px 23px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
}

.buttom_shop{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.best_sellers{
padding-top: 60px;
padding-bottom: 248px;
}

.a_inst{
    position: relative;
    top: 3px;
    margin-right: 16px;
}
.a_search{
    position: relative;
    top: -8px;
}
.a_cart{
    position: relative;
    top: -9px;
    margin-left: 9px;
}
.h2_bs{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;

}
.p_bs{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #000000;
}
.best_sellers h2:first-of-type{
    margin-bottom: 27px;
}
.best_sellers h2:last-of-type{
    margin-bottom: 52px;
}
.best_sellers .p_bs:first-of-type{
    margin-bottom: 47px;
}
.best_sellers .p_bs:last-of-type{
    margin-bottom: 88px;
}
.h3_add{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
}
.artcl_p1{
    padding-top: 27px;
}
.artcl_p2{
    padding-top: 20px;
}
.artcl_p3{
    padding-top: 19px;
}

.price{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
padding-top: 17px;
padding-bottom: 10px;
}
.button_add{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration-line: underline;
text-align: center;
color: #000000;
}
.thalby_g{
    display: flex;
    justify-content: space-between;
}
.img_bs{
    width: 100%;
    display: block;
}
.french_c{
    max-width: 309px;
    text-align: center;
}
.french_p{
    max-width: 314px;
    text-align: center;
}
.german_c{
    max-width: 315px;
    text-align: center;
}
.owl-item{
    text-align: center;
    display: flex;
    justify-content: center;
}
.owl-dots{
    width: 100%;
    display: flex;
    justify-content: center;
}
.owl-dots .owl-dot span{
display: inline-block;
width: 15px;
height: 15px;
background:darkgrey;
border-radius: 50%;
margin: 5px;

}
.owl-dots .owl-dot.active  span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: palevioletred;
    border-radius: 50%;  
    margin: 5px;
}
.img_h1{
    height: auto;
width: 100%;
} */

/* .people_as{
    padding-top: 76px ;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.3);
border-radius: 0px;
}
.people_as .container{
    display: flex;
    justify-content: space-between;
} */
/* .content_people{
    max-width: 498px;
    padding: 70px;
}
.content_people h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;
margin-bottom: 31px;
}
.content_people p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 40px;
}
.content_people a{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration-line: underline;
color: #000000;
} */
/* .culture_ah{
    padding-top: 76px ;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.6);
    border-radius: 0px;
}
.culture_ah .container{
    display: flex;
    justify-content: space-between;
}
.content_culture{
    max-width: 513px;
    padding: 92px 0 57px 0;}

.content_culture h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: right;
color: #000000;
margin-bottom: 31px;
}
.content_culture p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: right;
color: #000000;
margin-bottom: 31px;
}
.content_culture a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-align: right;
text-decoration-line: underline;
color: #000000;
} */
/* 
.power_ap{
    padding-top: 76px ;
    padding-bottom: 51px;
    background: rgba(204, 204, 204, 0.3);
border-radius: 0px;
}
.power_ap .container{
    display: flex;
    justify-content: space-between;
}
.content_power{
    max-width: 530px;
    padding: 92px 0 91px 0;}

    .content_power h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        
        color: #000000;
margin-bottom: 31px;        
}
.content_power p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 39px;
}
.content_power a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration-line: underline;

color: #000000;
} */

/* --------
section ball
-------- */

/* .ball{
    padding-top: 190px;
    padding-bottom:290px ;
}
.b_h2small{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 69px;
}

.b_h2large{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}
.ball .container h3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;
}
.color_ball{
    display: inline-block;
    width: 33%;
    margin-bottom: 100px;
}

.style_ball{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
}
.sky_color{
    background-color: #21F7EC;
}
.green_color{
    background: #33D3BC;
}
.blue_color{
    background: #18A5C6;
}
.brouwn_color{
    background: #D38F62;
}
.red_color{
    background: #F94C43;
}
.purple_color{
    background: #D399FF;
} */
/* .s_people{
    display: inline-block;
    width: 33%;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -11.875rem;
}
.sctn_people{
    background: #F0F0F0;
} 

/* .people_p1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    margin-top: 35px;
   
} */
/* .p1_width{
    max-width: 248px;
}
.p1_width2{
    max-width: 272px;
}
.p1_width3{
    max-width: 285px;
} */
/* .people_p2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #000000;
margin-top: 34px;
margin-bottom: 44px;

}

.s_people a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #000000;
} */


/* ---------
form--------
----------- */
/* .form_s{
    padding-top: 79px;
    padding-bottom: 88px;
}
.keep_it{
    max-width: 496px;
    margin: auto;
}
.keep_it h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
margin-bottom: 9px;
}
.keep_it p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
margin-bottom: 38px;
}

.form_style{
    border: 1px solid #000000;
border-radius: 0px;
}
.style_name{
    width: 100%;
    max-width: 153px;
    padding: 12px 0 11px 8px;
}
.style_email{
    width: 100%;
    padding: 13px 0 10px 8px;
    margin-top: 18px;
    margin-bottom: 16px;

}
.first_last_name{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 366px;
margin: auto;
}
.button_subscribe{
margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 23px;
text-decoration: none;
background: #000000;
border: 1px solid #000000;
border-radius: 100px;

} */

/* -------------
**footer****
------------- */

/* footer{
    background: #020202;
border-radius: 0px;
padding-top: 51px;
padding-bottom:16px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
}

.icon_h li{
    display: inline-block;
    margin-top: 36px;
    margin-left: 14px;
    margin-right: 14px;
}
.icon_h li:first-of-type{
    margin-left: 0;
}
.icon_h li:last-of-type{
    margin-right: 0;
}
.content_r{
    display: flex;
}
.about h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.about ul li {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
margin-bottom: 12px;
list-style: none;
}
.about li a{
text-decoration: none;
color: inherit;
} */

/* .contact h3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
margin-bottom: 36px;

}
.contact ul li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
margin-bottom: 12px;
list-style: none;
}
.content_r .about{
    margin-right: 70px;
}

.contact li a{
    text-decoration: none;
    color: inherit;
    }
    .f_copyright p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 8px;
    } */